
.heading-style{
    color: green;
    background-color: antiquewhite;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

#btn{
    font-size: 40px
}

.box{
    width: 200px;
    height: 200px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}

.heading{
    background-color: orange;
    width: 100px;
    height: 100px;
}

.heading{
    background-color: green;
}

.heading,div{
    border: 2px solid orange;
}